body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: rgb(26, 221, 5);
}

header {
	background-color: black;
	padding: 20px;
}

main {
	margin: 20px;
}

h1 {
	font-size: 32px;
	margin: 0;
}

h2 {
	font-size: 24px;
	margin: 20px 0;
}

.formulario label {
	display: block;
	margin-bottom: 10px;
}

.formulario input[type="text"], .formulario input[type="date"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.botones {
	margin-top: 20px;
}

.botones input[type="button"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #03e00a;
	color: white;
	cursor: pointer;
	margin-right: 10px;
}

.botones input[type="button"]:hover {
	background-color: #03e00a;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #03e00a;
	color: white;
}

tr {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: gray;
}
